<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta name='viewport' content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/components/home/index.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src='/node_modules/infinite-scroll/ng-infinite-scroll.min.js'></script>

    <script>
        $(function () {
            $('#header').load('/components/templates/header.html');
        });
    </script>

    <title>JustRecipes!</title>
</head>



<body>
    <div id="header"></div>

    <div class="searchBar">
        <input placeholder="milk, eggs, flour, etc" name="searchItem">
        <button>Search</button>
    </div>

    <div ng-app="index" ng-controller="recipeControl">
        <div infinite-scroll='loadMore()' infinite-scroll-distance='1'>
            <img ng-repeat="image in images" ng-src="http://placehold.it/225x250&text={{image}}">
        </div>
    </div>
  
    <script src="/components/home/index.js"></script>
    <script src="/components/home/recipeControl.js"></script>

</body>

</html>