body {
    color: black;
    background-color:darkolivegreen 
}

input {
    width: 500px;
    padding: 10px 20px;
    border: 1px solid rgb(0, 0, 0);
    box-sizing: border-box;
    font-size: 15px;
    text-align: center;
    outline-width: 1px;
    display: inline-block;
}

.searchButton {
    background-color: #f3851e;
    color: black;
    font-size: 15px;
    padding: 10px 10px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 50px;
    min-width: 100px;
    display: inline-block;
}

.searchButton:hover {
    background-color: #f5a860;
}

#searchBar {
    display: inline-block;
    text-align: center;
}

/*
    * Wrapper and Scroll center the entire set of images in infinite scroll
*/
#wrapper {
    text-align: center;
  }
  #scroll {
    display: inline-block;
  }

