<div class="navBar">
        <h1 align="center">Just Recipes</h1>
        
        <form action="homePage">
                <button id='home'>
                    Home
                </button>
        </form>

        <form action="loginPage">
            <button id='close'>
                Login
            </button>
        </form>

        <form action="signupPage">
            <button id='close'>
                Signup
            </button>
        </form>

        <form id="profileButton" action="profilePage">
            <button id='close'>
                Profile
            </button>
        </form>
        
    </div>
</div>

<style> 
    body {
        margin: 0;
    }
    .navBar {
        height: auto;
        background-color: grey;
        width: 100%;
        float: left;
    }
    #close {
        float: right;
        display: block;
        margin-right: 0px;
    }
    #home {
        float: left;
        display: block;
        margin-left: 0px;
    }
</style>