body {
    margin: 0;
    color: black;
    background-color: darkolivegreen
}

.navBar {
    height: auto;
    background-color: grey;
    width: 100%;
    float: left;
}

#close {
    float: right;
    display: block;
    margin-right: 0px;
    clear: left;
}