<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/components/profile/profile.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <!--Needed to load reusable templates-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
    $(function(){
      $('#header').load('/components/templates/header.html');
    });
    </script>

    <title>Profile</title>
  </head>
  <body>
    <!--Place to input the loaded header template-->
    <div id="header"></div>

    <div class="card" ng-app="profile" ng-controller="picControl">
      <img ng-src="{{ image.path }}" style="width:100%"/>
      <h2 class="title">{{ accountName }}</h2>
      <h3>{{ email }}<br />{{ realName }}</h3>
    </div>

    <script src="/components/profile/profile.js"></script>
    <script src="/components/profile/picControl.js"></script>

  </body>
</html>