<!doctype html>

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimize mobile viewport -->
    <link rel="stylesheet" href="/components/signup/signup.css">

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>

    <!--Needed to load reusable templates-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
    $(function(){
      $('#header').load('/components/templates/header.html');
    });
    </script>

    <title>Signup</title>
    </head>
    <body>

        <div id="header"></div>

        <div class="hello" ng-app="signup" ng-controller="signupControl">
            <img id="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Mallard2.jpg/1200px-Mallard2.jpg">
            <p id="signup">Sign Up</p>

            <div>
                <input type="Username" placeholder="Username" ng-model="username"/>
            </div>
            <div>
                <input type="Email" placeholder="Email" ng-model="email" required/>
            </div>

            <div>
                <input type="password" placeholder="Password" ng-model="password" />
            </div>
             <button id='signupButtons' ng-click="attemptSignup(username, email, password)">
                Signup
            </button>
            <form action="loginPage">
                    <button id='signupButtons'>
                        Already have an account?
                    </button>
            </form>
            <p class="error"> {{error}}</p>
        </div>
        <script src="/components/signup/signup.js"></script>
        <script src="/components/signup/signupControl.js"></script>
    </body>



</html>
