<!doctype html>

<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Optimize mobile viewport -->
    <link rel="stylesheet" href="/components/signup/signup.css">

    <!--Needed to load reusable templates-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
    $(function(){
      $('#header').load('/components/templates/header.html');
    });
    </script>

    <title>Signup</title>

    <body>

        <div id="header"></div>

        <div class="hello">
            <img id="icon" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a1/Mallard2.jpg/1200px-Mallard2.jpg">
            <p id="signup">Sign Up</p>

            <div>
                <input type="email" placeholder="email" name="email" />
            </div>
            <div>
                <input type="password" placeholder="Password" name="psw" />
            </div>
            <form action="signup">
                    <button id='signupButtons'>
                        Signup
                    </button>
            </form>
            <form action="loginPage">
                    <button id='signupButtons'>
                        Already have an account?
                    </button>
            </form>
            <form action="homePage">
                    <button id='signupButtons'>
                        Return to Home
                    </button>
            </form> 
        </div>
    </body>

</head>

</html>

<style scoped>
    
</style>